{% load static %}

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> RHManager | {% block title %}{% endblock %} </title>

    <link href="{% static 'images/favicon.ico' %}" rel="icon">
    <link href="{% static 'css/volt.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/notyf/notyf.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/fullcalendar/main.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/apexcharts/dist/apexcharts.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/dropzone/dist/min/dropzone.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/choices.js/public/assets/styles/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/leaflet/dist/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'app_assets/jquery/css/jquery-confirm.min.css' %}" rel="stylesheet">

    {% block stylesheets %}
    {% endblock stylesheets %}
</head>

<body>
    {% include 'includes/sidebar.html' %}

    <main class="content">
        {% include 'includes/navbar.html' %}

        <div class="d-flex justify-content-sm-between justify-content-evenly flex-wrap align-items-center py-3">
            <div class="d-block">
                <h2 class="h4">
                    {% block page_description %}
                    {% endblock page_description %}
                </h2>
            </div>
            <div class="d-block btn-toolbar">
                {% block page_buttons %}
                {% endblock page_buttons %}
            </div>
        </div>

        {% block content %}
        {% endblock content %}

        {% include 'includes/footer.html' %}
    </main>

    {% include 'includes/scripts.html' %}

    {% block javascripts %}
    {% endblock javascripts %}
</body>

</html>