{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
{{ page_title }}
{% endblock title %}

{% block page_description %}
{{ page_description }}: "{{ object }}"
{% endblock page_description %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <a href="{{ list_url }}" class="btn btn-secondary"> Voltar </a>
            <button type="submit" class="btn btn-primary"> Atualizar </button>
            {% if object %}
            <a href="{{ object.get_delete_url }}" class="btn btn-danger"> Apagar </a>
            {% endif %}
        </form>
    </div>
</div>
{% endblock content %}