{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}
Policiais
{% endblock title %}

{% block page_description %}
Policiais
{% endblock page_description %}

{% block page_buttons %}
<div class="btn-group ms-2">
    <button type="button" id="csv-export" class="btn btn-sm btn-outline-gray-600">
        Exportar CSV
    </button>
</div>
<div class="btn-group ms-2">
    <a href="{% url 'cadastro:policiais:create' %}" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
        <svg class="icon icon-xs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6">
            </path>
        </svg>
        Adicionar
    </a>
</div>
{% endblock page_buttons %}

{% block content %}
<div class="table-settings mb-0">
    <div class="row align-items-center justify-content-between">
        <div class="col-7 col-md-6 col-lg-5 col-xl-4">
            <form method="get">
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon2">
                        <span class="fas fa-search"></span>
                    </span>
                    <input type="text" name="search" class="form-control" placeholder="Pesquisar">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card card-body border-0 shadow table-wrapper table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="border-gray-200 text-center"> Matrícula </th>
                <th class="border-gray-200 text-center"> Nome </th>
                <th class="border-gray-200 text-center"> Sobrenome </th>
                <th class="border-gray-200 text-center"> CPF </th>
                <th class="border-gray-200 text-center"> Ações </th>
            </tr>
        </thead>
        <tbody>
            {% for policial in policiais %}
            <tr class="item-row text-center">
                <td>{{ policial.matricula }}</td>
                <td>{{ policial.nome }}</td>
                <td>{{ policial.sobrenome }}</td>
                <td>{{ policial.cpf_formatado }}</td>
                <td>
                    <div class="btn-group">
                        <a class="px-2" href="{% url 'cadastro:policiais:update' policial.id %}">
                            <span class="fas fa-edit"></span>
                            Editar
                        </a>
                        <a class="px-2" href="{% url 'cadastro:policiais:detail' policial.id %}">
                            <span class="fas fa-eye mr-2"></span>
                            Mostrar
                        </a>
                        <a class="px-2" href="{% url 'cadastro:policiais:delete' policial.id %}">
                            <span class="fas fa-trash-alt"></span>
                            Apagar
                        </a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="card card-body border-0 shadow mt-2">
    {% if policiais %}
    <div class="card-footer px-2 border-0 d-flex flex-column flex-sm-row align-items-center justify-content-between">
        <div class="font-weight-bold small order-1 order-sm-0 mb-3 mb-sm-0">
            Mostrando <b>{{ page_obj.start_index }}</b> a <b>{{ page_obj.end_index }}</b> de
            <b>{{ page_obj.paginator.count }}</b> resultados
        </div>
        <ul class="pagination mb-0 ms-auto order-2 order-sm-0 mb-0">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}"> Anterior </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"> Anterior </a>
            </li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}"> Próximo </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link"> Próximo </a>
            </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
<script>
    document.getElementById('csv-export').addEventListener('click', function () {
        var searchQuery = document.querySelector('input[name="search"]').value;
        var url = "{% url 'cadastro:policiais:list' %}";
        var csvExportUrl = url + "?export_csv=1";
        if (searchQuery) {
            csvExportUrl += "&search=" + searchQuery;
        }
        window.location.href = csvExportUrl;
    });
</script>
{% endblock %}